.vscode/**
.vscode-test/**

# Exclude TypeScript sources — ship compiled JavaScript only
src/**
**/*.ts
**/*.map
**/tsconfig.json

# Development tools & configuration
**/.vscode-test.*
**/eslint.config.mjs
.gitignore
.yarnrc
package-lock.json
vsc-extension-quickstart.md

# (not ignore)
!out/**
!media/**   